.sidebar-wrapper {
  box-shadow: 0 0 2px #999;
  max-width: 300px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-controls {
  border-bottom: 1px solid #ccc;
  display: flex;
}

.sidebar-controls > .sidebar-filter {
  width: 100%;
}

.sidebar-empty {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 300px;
}
