.form-wrapper {
  min-height: 300px;
  min-width: 600px;
}

.form-toolbar {
  display: flex;
}

.form-body {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  padding-right: 20px;
}

.form-body > .form-title {
  width: 100%;
}

.form-body > .form-description {
  min-height: 200px;
  width: 100%;
}
